@media screen and (min-width: 37.5em) {

/* DESKTOP: search stays centered */
.search-bar {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.hero {
    position: relative;

}

.welcome {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 30%;
    background-color: rgba(255, 255, 255, 0.808);
    border-radius: 8px;
    padding: 2rem;
    text-align: center;
    max-width: 600px;
    animation: float 5s ease-in-out infinite;
}

#bookList, #releasesList, #bookProposals, #bookSearch {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    padding: 1rem;
}

.book-container {
    flex-direction: row;
    margin: 0 auto;
    max-width: 900px;
}

.book-cover {
    width: 30%;
}

.book-info {
    width: 70%;
    padding-left: 1rem;
}

}